<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="./static/styles_inscription.css">
   
</head>
<body>
    <div class="conteneur">
        <h1>Inscription</h1>
        <form action="/inscription" method="POST">
            <div class="groupe-formulaire">
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="nom" required>
            </div>
            <div class="groupe-formulaire">
                <label for="prenom">Prénom</label>
                <input type="text" id="prenom" name="prenom" required>
            </div>
            <div class="groupe-formulaire">
                <label for="email">Adresse email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="groupe-formulaire">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="groupe-formulaire">
                <label for="confirm-password">Confirmer le mot de passe</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <button type="submit">S'inscrire</button>
        </form>
        <div class="lien-connexion">
            <p>Déjà inscrit? <a href="connexion.html">Se connecter</a></p>
        </div>
    </div>
</body>
</html>
